@using DentalApp.Domain.Entities
@inject SignInManager<ApplicationUser> SignInManager

@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        <a class="text-decoration-none fw-semibold text-dark" asp-page="./Index">
            <i class="bi bi-person-lines-fill me-2 text-primary"></i> Profile
        </a>
    </li>
    <li class="list-group-item">
        <a class="text-decoration-none fw-semibold text-dark" asp-page="./Email">
            <i class="bi bi-envelope-paper me-2 text-success"></i> Email
        </a>
    </li>
    <li class="list-group-item">
        <a class="text-decoration-none fw-semibold text-dark" asp-page="./ChangePassword">
            <i class="bi bi-key-fill me-2 text-warning"></i> Password
        </a>
    </li>
    <li class="list-group-item">
        <a class="text-decoration-none fw-semibold text-dark" asp-page="./TwoFactorAuthentication">
            <i class="bi bi-shield-lock me-2 text-danger"></i> Two-Factor Auth
        </a>
    </li>
</ul>
